#Create a proxy host on NPM (Nginx Proxy Manager)
#Add the following on NPM locations to Handle Certbot Verification
# location /.well-known/acme-challenge/ {
#     proxy_pass http://HostB_IP:8080;
# }

version: "3.9"

services:
  acme-web:
    image: nginx:alpine
    volumes:
        - webroot:/usr/share/nginx/html:ro
    ports:
        - "8080:80"
    restart: unless-stopped
    
  softether:
    image: softether-vpn
    restart: unless-stopped
    privileged: true
    environment:
      SE_DOMAIN: ${DOMAIN}
      SE_CERT_DIR: /etc/letsencrypt/live/${DOMAIN}
      SE_VPN_SUBNET: ${VPN_SUBNET}
      SE_VPN_MASK: ${VPN_MASK}
      SE_VPN_START: ${VPN_START}
      SE_VPN_END: ${VPN_END}
      SE_CLIENTS: branch1,branch2
      SE_ADMIN_USERS: akshay:StrongPass123
      SE_ADMIN_PASSWORD: admin
    volumes:
      - softether-data:/data
      - letsencrypt:/etc/letsencrypt:ro
      - scripts:/scripts
    ports:
      - "13443:443"
    cap_add:
      - NET_ADMIN

  certbot:
    image: certbot/certbot
    entrypoint: /bin/sh
    restart: unless-stopped
    command: 
      - -c
      - |
          certbot certonly ${STAGING:+--staging} --webroot \
            -w /var/www/certbot \
            -d ${DOMAIN} \
            --email ${EMAIL} \
            --agree-tos \
            --non-interactive || true;
      
          while true; do
            sleep 12h;
            certbot renew ${STAGING:+--staging} --webroot -w /var/www/certbot;
          done
    volumes:
      - letsencrypt:/etc/letsencrypt
      - webroot:/var/www/certbot

volumes:
  webroot:
  letsencrypt:
  softether-data:
  scripts:
