#Create a proxy host on NPM (Nginx Proxy Manager)
#Add the following on NPM locations to Handle Certbot Verification
# location /.well-known/acme-challenge/ {
#     proxy_pass http://HostB_IP:8080;
# }

version: "3.9"

services:
  acme-web:
    image: nginx:alpine
    volumes:
        - webroot:/usr/share/nginx/html:ro
    ports:
        - "8080:80"
    
  softether:
    image: softether-vpn
    restart: unless-stopped
    environment:
      SE_DOMAIN: vpn.example.com
      SE_CERT_DIR: /certs/live/vpn.example.com
      SE_VPN_SUBNET: 10.20.30.0
      SE_VPN_MASK: 255.255.255.0
      SE_VPN_START: 10.20.30.10
      SE_VPN_END: 10.20.30.100
      SE_CLIENTS: branch1,branch2
      SE_ADMIN_USERS: akshay:StrongPass123
    volumes:
      - softether-data:/data
      - letsencrypt:/certs:ro
    ports:
      - "13443:443"
    cap_add:
      - NET_ADMIN

  certbot:
    image: certbot/certbot
    entrypoint: /bin/sh
    restart: unless-stopped
    command: 
      - -c
      - |
          certbot certonly --staging --webroot \
            -w /var/www/certbot \
            -d vpn.example.com \
            --email you@email.com \
            --agree-tos \
            --non-interactive || true;
      
          while true; do
            sleep 12h;
            certbot renew --staging --webroot -w /var/www/certbot;
          done
    volumes:
      - letsencrypt:/etc/letsencrypt
      - webroot:/var/www/certbot

volumes:
  webroot:
  letsencrypt:
  softether-data:
